 .clock {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 12%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-shadow: 0 0 20px rgb(162, 176, 247), 0 0 20px rgba(17, 131, 169, 0);
    
  }
  
  #time {
    letter-spacing: 0.05em;
    font-size: 40px;
    padding: 5px 0;
  }
  
  #date {
    letter-spacing: 0.1em;
    font-size: 25px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  /* .clock p {
    border: 2px solid burlywood;
    width: 250 px;
    margin: 40vh auto 0px auto;
    border-radius: 15px;
    padding: 10px 0;
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }  */

  